

extends ../../layout/layout
block style
  link(rel="stylesheet" href="./index.scss")
block content
  div.auth
    -
      const fields = [
        { id: 'login', label: 'Логин', type: 'text', },
        { id: 'password', label: 'Пароль', type: 'text', }
      ]
      const button = { id: 'logIn', label: 'Войти', type: 'submit'}
      const formTitle = 'Вход'
      const link = { title: 'asdasd', href: 'ASDASD' }
    -
    div.auth-form__wrapper      
      +form(formTitle, fields, button, link)    
block script
  script( src="./login.js" type="module")