mixin form(title= "", fields= [], optionalButtons= [])
  form.form
    div.form__title
      h3= title
    div.form__content
      div.form__fields
        each f in fields
          +field(f)
      div.form__buttons    
        button.form__submit(type="submit") submit
        each f in optionalButtons
          +field(f)
