@import 'src/styles/colors.scss';

.text-field {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $white2;
  font-size: 13px;
  font-weight: 500;

  &__value {
    text-align: end;
    outline: none;
    border: none;
    background: none;
    color: $gray;
  }
}