@import 'src/styles/colors.scss';

.search-input {
  width: 100%;
  height: 32px;
  border-radius: 5px;
  background: $background-gray;
  border: none;
  outline: none;
  padding: 0 24px;


  &::placeholder {
    color: $gray;
    text-align: center;
    font-size: 12px;
  }
}