$blue: #3369F3;
$red: #FF2F2F;
$gray: #999999;
$black: #1E1E1E;
$white: #FFFFFF;
$white2: #EAEAEA;
$background: #E5E5E5;
$background-white: #EFEFEF;
$background-black-opacity4: #0000007c;
$background-black-opacity8: rgba(0, 0, 0, 0.14);
$alertBackground: rgba(4, 102, 4, 0.784);
$errorAlertBackground: rgba(173, 1, 1, 0.89);
