@import 'src/styles/colors.scss';
@import 'src/styles/mixins.scss';
@import 'src/styles/components/field.scss';
@import 'src/styles/components/form.scss';
@import 'src/styles/components/button.scss';
@import 'src/styles/components/link.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  height: 100vh;
  background-color: $background;
}