@import 'src/styles/colors.scss';

.modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: $background-black-opacity4;
  z-index: 999;
}

.modal {
  margin: 0 auto;
  padding: 40px 30px 0px;
  width: 340px;
  min-height: 237px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px $background-black-opacity8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;

  &__button {
    width: 100%;
  }

  &__structure {
    width: 100%;
  }

}