@import 'src/styles/global.scss';
@import 'src/styles/colors.scss';

.main-page {
  display: grid;
  grid-template-columns: 310px auto;
  grid-template-rows: auto;
  font-weight: 500;


  .contact-block {
    background: $background2;
    border-right: 1px solid $white2;

    &__header {
      display: grid;
      grid-template-columns: auto 25px;
      align-items: center;
      gap: 5px;
      padding: 21px 10px 14px;
      border-bottom: 1px solid $white2;
    }
  }

  &__list {
    height: calc(100vh - 102px);
    overflow-y: scroll;
    padding: 0;
  }
}

.message-block {
  height: 100%;
}